html{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Heading and Slogan Styling */
.headerimage{
  background-image: url("../glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 31rem;
}

.sitecontainer{
  width: 960px;
  margin: 0 auto;

}

.headercontainer{
  display: flex;
  flex-direction: column;
}

.headerbar{
  margin-top: 1rem;
  background-color: cadetblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
}

.logotitle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.logo{
  height: 1.5rem;
}
.title{
  margin-left: 1rem;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navspan{
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.slogancontainer{
  color: black;
  background-color: white;
  margin-top: 10rem;
  width: fit-content;
  align-self: flex-end;
  margin-right: -2rem;
}
.slogan{
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/* Main Page Containers Styling */

.mainbodycontainer{
  display: flex;
  flex-direction: column;
}

.offeringgallery{
  display: flex;
  justify-content: center;
}

.galleryitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}
.galleryfitting{
  margin-left: 6rem;
  margin-right: 6rem;
}

.exam{
  width: 3.5rem;
}

.fitting,
.delivery{
  width: 5rem;
}
/* philosphy and apointment */

.philosphygallery{
  display: flex;
  justify-content: center;
}

.philosphycontainer,
.apointmentscontiner{
  width: 35%;
  display: flex;
  flex-direction: column;
}
.philosphycontainer{
  margin-right: 5%;
}

.philosphyspan,
.apointmentspan{
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* footer styling */

.footercontainer{
  background-color: azure;
  margin-top: 5rem;
}

.logocopy{
  display: flex;
  align-items: center;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem
}
.logofooter{
  height: 1.5rem;
}
.copyright{
  margin-left: 1rem;
}
